language: python

jobs:
  include:
    - name: "Python windows"
      os: windows
      language: shell
      before_install:
        - choco install anaconda3 --params '/AddToPath'
        - cd C:\\tools\\anaconda3
        - dir
        - export CONDA_ALWAYS_YES=1
        - conda activate
        - python -m pip install --upgrage pip
    - name: "Python linux"
      python: 3.8

script:
  - python test.py



