language: python

jobs:
  include:
    - name: "Python windows"
      os: windows
      language: shell
      before_install:
        - choco install anaconda3 --params '"/AddToPath"'
        - wget https://gist.githubusercontent.com/jayvdb/1daf8c60e20d64024f51ec333f5ce806/raw/a42f930a940597750fd29548d13b2b538d7508c2/RefreshEnv.sh
        - ./RefreshEnv.sh
        - echo $PATH
        - export CONDA_ALWAYS_YES=1
        - conda activate
        - pip install --upgrage pip
    - name: "Python linux"
      python: 3.8

script:
  - python test.py



