language: python

jobs:
  include:
    - name: "Python windows"
      os: windows
      language: shell
      before_install:
        - choco install openssl # Install OpenSSL -> Can't use https without it
        - choco install anaconda3 --params '"/AddToPath"' # install Conda
        - /c/tools/anaconda3/Scripts/conda init bash # initiate conda
        - /c/tools/anaconda3/Scripts/activate # activate conda
        - source /c/Users/travis/.bash_profile
        - /c/tools/anaconda3/Scripts/conda install -y m2w64-gcc libpython # dependencies for nuitka
      before_script:
        - pip install -r requirements.txt
        - pip install pyinstaller
        - python -m pyinstaller -F test.py
    - name: "Python linux"
      python: 3.7
      before_install:
        - sudo apt-get install -y chrpath
      after_script:
        - ./test.dist/test


before_script:
  - pip install -r requirements.txt

script:
  - python test.py
  - python -m nuitka -y --standalone --experimental=use_pefile test.py
  - ls



