language: python

jobs:
  include:
    - name: "Python windows"
      os: windows
      language: shell
      before_install:
        - choco install anaconda3 --params '"/AddToPath"'
        - wget https://gist.githubusercontent.com/jayvdb/1daf8c60e20d64024f51ec333f5ce806/raw/a42f930a940597750fd29548d13b2b538d7508c2/RefreshEnv.sh
#        - source RefreshEnv.sh
#        - refreshenv
        - /c/tools/anaconda3/Scripts/conda init bash
        - /c/tools/anaconda3/Scripts/activate
        - /c/tools/anaconda3/Scripts/conda install m2w64-gcc libpython
        - echo $CONDA
        - export CONDA_ALWAYS_YES=1
    - name: "Python linux"
      python: 3.7
      before_install:
        - sudo apt-get install -y chrpath
    - name: "Windows NoConda"
      os: windows
      language: shell
      before_install:
        - choco install python --version 3.7.0
        - python -m pip install --upgrade pip
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH
      before_script:
        - pip install -r requirements.txt

script:
  - python test.py
  - python -m nuitka --standalone --experimental=use_pefile test.py
  - ls



